h1 {
  margin: 1em;
  margin-left: 0;
  font-size: xx-large;
}

.project {
  display: flexbox;
  margin: auto;

  padding: 0.4em;
}

.project-list {
  max-width: 1200px;
  overflow:hidden;
  margin: auto;
  padding-top: 2em;
  animation: fade-in 2s 1s backwards 1;
}

@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 100%;
  }
}

