

.project-block {
  background-color: rgb(240, 240, 240);
  border-radius: 0.4em;
  cursor: pointer;
  margin: 0em;
  padding: 0em;
}

.main-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.left-content {
  display: flex;
  margin: auto;
}

.title {
  padding: 1em;
  padding-left: 0;
  font-size: x-large;
  font-weight: 600;
  display: block;
}

.caption {
  margin-top: 0.2em;
  font-size: small;
  font-weight: 600;
  color: var(--viva-pink);
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  background-color: rgba(0, 0, 0, 0.02);
}
img {
  max-height: 400px;
  width: 100%;
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.4em;
}

.image-border {
  padding: 1em;
  background-color: transparent;
  object-fit: cover;
  margin: auto;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.02);

  padding: 1em;
  min-width: 200px;
  flex-grow: 3;
  border-radius: 0.4em;
}

  .description div {
    justify-self: left;
  }

.url-button{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:space-around;


  font-size: x-large;
  text-decoration: none;
  color: initial;
  border-radius: 0.4em;
  background-color: rgba(0, 0, 0, 0.02);
}

.url-button:hover{
  background-color: rgba(0, 0, 0, 0.06);
}

.material-icons {
  color: rgba(0, 0, 0, 1);
  padding: 1em;
}
